.metrics-container {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
  justify-content: center;
}

.metric-container {
  color: #fff;
}

.metric-container:nth-child(odd) {
  background: #ff8585;
}

.metric-container:nth-child(even) {
  background: #9f3f3f;
}

.metric-about {
  padding-left: 50px;
}

.search-input {
  margin-top: 10vh;
  margin-bottom: 10vh;
  padding: 10px;
  width: 100%;
}

a {
  color: white;
  text-decoration: none;
  float: right;
  margin-top: 10px;
  margin-right: 10px;
}

.metric-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 700px){
  .metrics-container {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }
}

@media only screen and (max-width: 425px){
  .metrics-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
  }
}
